{% extends '@App/printer/container.html.twig' %}

{% block title %}Print!{% endblock %}
{% block description %}Using the <em>top</em> view, try and print a 3d model, layer by layer, starting at
    the bottom and working your way up. Good luck!{% endblock %}
{% block content %}
    <div class="row clearfix" data-keyboard-shortcuts>
        {% spaceless %}
        <div class="col-xs-12 col-sm-12 col-md-4 text-center top-view">
            {% embed "@App/printer/includes/grid.html.twig" %}
                {% block title %}Top{% endblock %}
                {% block cell %}
                <div data-ng-class="classMap( projectors.top, {{ x }},{{ y }})"
                     data-ng-mouseenter="add({{ x }},{{ y }})"></div>{% endblock %}
            {% endembed %}
            <div class="clearfix">
                <br>
                <button class="btn btn-success margin-8" data-ng-click="nozzle()">
                    nozzle={% raw %}{{ nozzleState() }}{% endraw %} (n)
                </button>
                <button class="btn btn-success margin-8" data-ng-click="next()">next layer (l)</button>
                <button class="btn btn-primary margin-8" data-ng-click="clear()">clear (c)</button>
                <a class="btn btn-info margin-8" href="#result">Show Result</a>
                <br>
            </div>

        </div>
        <div class="col-sm-6 col-md-4 text-center hidden-xs">
            {% embed "@App/printer/includes/grid.html.twig" %}
                {% block title %}Front{% endblock %}
                {% block cell %}
                <div data-ng-class="classMap( projectors.front, {{ x }},{{ width-y-1 }})"></div>{% endblock %}
            {% endembed %}
        </div>
        <div class="col-sm-6 col-md-4 text-center hidden-xs">
            {% embed "@App/printer/includes/grid.html.twig" %}
                {% block title %}Left{% endblock %}
                {% block cell %}
                <div data-ng-class="classMap( projectors.left, {{ x }},{{ width-y-1 }})"></div>{% endblock %}
            {% endembed %}

            {% endspaceless %}
        </div>
    </div>
{% endblock %}

